/** {*/
/*  margin: 0;*/
/*  box-sizing: border-box;*/
/*}*/

body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
}

.App-content {
  flex: 1;
  display: flex;
  background-color: #ffffff;
}

ul.example-dois li {
  cursor: pointer;
}

ul.example-dois li:hover {
  text-decoration: underline;
}

