body {
  background-color: #282c34;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.doi-input {
  padding: 5px;
  width: 100%;
}

.App-content {
  flex: 1;
  display: flex;
  background-color: #ffffff;
}

ul.example-dois li {
  cursor: pointer;
}

ul.example-dois li:hover {
  text-decoration: underline;
}

